main {
    width: 95%;
    margin: 0 auto;
}

.column {
    width: 30%;
    display: inline-block;
    float: none;
    margin-left: 2%;
}

html,
body {
    background-color: #ffffff;
}

body {
    margin: 0;
}