table {
    border: 1px solid #161b2279;
    border-radius: 0px 0px 30px 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    table-layout: inherit;
    overflow: hidden;
}

tr:nth-child(odd) {
    background: rgb(121, 88, 0);
    color: whitesmoke
}

tr:nth-child(even) {
    background-image: url("white_surface.jpeg");
    color: rgb(121, 88, 0)
}

.column {
    text-align: left;
}

header h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

body caption {
    border: 1px solid #161b2279;
    border-radius: 30px 30px 0px 0px;
    background-image: url("background.jpeg");
    color: white;
    font-weight: bold;
}

nav a:link {
    display: inline-block;
    line-height: 50px;
    height: 60px;
    background-color: cyan;
    margin: 5px 10px 5px 10px;
    padding: 20px 40px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 40px;
}

nav a:hover {
    display: inline-block;
    line-height: 50px;
    height: 60px;
    background-color: yellow;
    margin: 5px 10px 5px 10px;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 40px;
}

nav a:focus {
    display: inline-block;
    line-height: 50px;
    height: 60px;
    background-color: yellow;
    margin: 5px 10px 5px 10px;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 40px;
}

.CyanFont {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: darkslategray
}

h1 {
    font-variant: small-caps;
    color: deepskyblue
}

footer {
    style: inline-block
}